<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>hAi FrEakkY</title>
</head>
<body>
    <center>
        <h1>halo, <%=namaUser.username%>!</h1>
        <h3>selamat datang di homepage!</h3>
        <br/>
        <p>
            anything dat i put here
        </p>
        <br/>
        <a href="/logout">logout</a>
    </center>
</body>
</html>