<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <center>
        <h1>selamat datang!</h1>
        <h3>login</h3>
        <form action="/auth" method="post">
            <input type="text" name="inemail" placeholder="Email.." required=""/>
            <br/><br/>
            <input type="password" name="inpass" placeholder="Password.." required=""/>
            <br/><br/>
            <input type="submit" value="login"/>
            <p>tidak ada akun?</p>
            <a href="/register">register</a>
        </form>
        <br/>
    </center>
</body>
</html>