<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Register</title>
</head>
<body>
    <center>
        <h1>register disini</h1>
        <hr/>
        <h3>daftar</h3>
        <form action="/auth" method="post">
            <input type="text" name="email" placeholder="email.." required=""/>
            <br/><br/>
            <input type="text" name="username" placeholder="username.." required=""/>
            <br/><br/>
            <input type="password" name="password" placeholder="password.." required=""/>
            <br/><br/>
            <input type="password" name="passwordConf" placeholder="konfirmasi password.." required=""/>
            <br/><br/>
            <input type="submit" value="register!" /><br/><br/>
            <a href="/">kembali ke login</a>
        </form>
    </center>
    <br/>
    <hr/>
</body>
</html>